@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto:400);
@import url(http://weloveiconfonts.com/api/?family=brandico);

<link>//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css</link>
<link>//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css</link>

<link>//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css</link>
<link>//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css</link>




/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  font-size: 1.5em;
  transition: .5s color;
}
.brandico-facebook:hover {
  color: #3b5998;
}
.brandico-twitter-bird:hover {
  color: #00acee;
}
.brandico-tumblr:hover {
  color: #34526f;
}
.brandico-linkedin:hover {
  color: #0e76a8;
}
html {
  margin: .5em 20%;
  color: #0a0a0a;
}
header {
  font-family: "Oswald";
  text-transform: uppercase;
}
header h1 {
  font-size: 2em;
  border-bottom: .2em solid;
}
header h2{
  font-size: 2em solid;
}
header h3{
  font-size: 2em solid;
}
header h4{
  font-size: 2em solid;
}
header h5{
  font-size: 2em solid;
}
header p {
  font-size: 1.3em;
}
#content {
  font-family: "Roboto";
}
#share {
  border-top: .2em solid;
}
#share p {
  font-family: "Oswald";
  font-size: 1.4em;
  text-transform: uppercase;
}
#share a {
  text-decoration: none;
  color: #0a0a0a;
}


